@import "./variables";

.container{
  max-width: 100%;
  height: 100vh;
  display: flex;
}

.sign-up{
  display: flex;
}

.sign-in{
  display: none;
}



.sign-up, .sign-in{
  width: 600px;
  position: relative;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 11px 0px 26px 0px;

  .sign-link{
      position: relative;
      align-self: flex-end;
      top: 0;
      right: 11px;
      font: {
        family: $font;
        size: 14px;
        weight: 700;
      };
    }

  .sign-in__caption{
    font: {
      family: $font;
      weight: 700;
      size: 50px;
    };

    margin-bottom: 17px;

    color: rgba(120, 120, 120, 1);
    text-align: center;
  }
}


.welcome-page{
  display: none;
  width: 100%;
  text-align: center;
  align-self: center;
  h1{
    font-size: 50px;
    color: white;
    font-family: $font;
  }
}